@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

nav {
  height: 9vh;
}

#navbarToggleExternalContent {
  height: 150px;
}

.p-4 {
  height: 150px;
  width: 100vw;
}
